/* HERO */
#homeSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#glassPanel {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  color: white;
  width: 1500px;
  max-width: 85%;
}

#title {
  filter: drop-shadow(0 16px 40px rgba(0, 0, 0, 0.8));
  width: 100%;
  height: auto;
}
